<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/thwaland/dist/thwaland.min.css">
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center">Oops! Something went wrong.</h1>
        <p class="text-center">Please try again later.</p>
    </div>
</body>
</html>
